@typeparam TItem
<div class="table-responsive">
    <table id="@Id" class="table table-bordered text-center">
        <thead>
            <tr>@TableHeader</tr>
        </thead>
        <tbody>
            @foreach (var item in Items ?? new List<TItem>())
            {
                <tr>@RowTemplate(item)</tr>
            }
        </tbody>
        <tfoot>
            <tr>@TableFooter</tr>
        </tfoot>
    </table>
</div>
@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public RenderFragment TableFooter { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }

}
